<!-- PREVIOUS FOOTER CODE W/O BOOSTRAP
<div class="footer">
  <div>
    <span class="count">-</span> todos
  </div>
  <div class="filter">
    <a class="show-all">all</a> |
    <a class="show-not-done">not done</a> |
    <a class="show-done">done</a>
  </div>
  <div>
    <a class="clear">clear</a>
  </div>
</div>
-->

<!-- FINAL FOOTER CODE
Udpate the footer with the following changes:
1.	Add a row class to outer div
2.	Add responsive grid classes to each inner div & center them
-->
<div class="row">
  <div class="col-xs-12 col-sm-4 text-center">
    <span class="count">-</span> todos
  </div>
  <div class="col-xs-12 col-sm-4 text-center filter">
      <a class="show-all">all</a> |
      <a class="show-not-done">not done</a> |
      <a class="show-done">done</a>
  </div>
  <div class="col-xs-12 col-sm-4 text-center">
    <a class="clear">clear</a>
  </div>
</div>
