
<!--
 <h1>Todo App</h1>
-->

<!--
Adding a navbar
Replace the above basic h1 markup by the below code
-->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Todos</a>
    </div>
  </div>
</nav>
<!--
This markup is identical to the example navbar implementation in the Bootstrap docs
We add a nav, within that we add a container div, and within that a navbar-header div
and add any links/buttons within that.
In order to position our nav on top of the page, we apply the navbar-static-top class.
-->
